.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.DS_Store
build/.DS_Store
build/kotlin/.DS_Store
gradle/.DS_Store
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
